<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/" method="post">


      Email : <input type="email" name="email"> <br><br>
      Password : <input type="password" name="password"><br><br>
      <input type="submit"> <br><br><br>

      
    </form>

    <table border="1" width="40%">
      <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Action</th>
      </tr>

       <% data.map(el => { %>
        <tr>
          <td><%= el.email %></td>
          <td><%= el.password %></td>
          <td>
            <a href="/?delid=<%= el._id %>"><button>Delete</button></a>
            <a href="/?editid=<%= el._id %>"><button>Edit</button></a>
          </td>
        </tr>
        
      <% }) %> 

    </table>


  </body>
</html>
